body{
    text-align: center;
    background-image: url("tea.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid pink;
    margin-left: 400px;
    margin-right: 450px;
    border-radius: 200px;
    
}
div{
    font-size: 30px;
}
button{
    font-size: large;
}